page {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.cate {
  height: 100%;

  .search {
    margin: 20px 30px;
    background: #F1F1F1;
    color: #AAAAAA;
    border-radius: 10px;
    height: 64px;
    line-height: 64px;
  }

  .h-scroll {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .cate_wrap {
    width: 100%;
    border-top: 2px solid #F3F3F3;

    .cate_l {
      width: 160px;
      // border-right: 2px solid #F3F3F3;
      height: 100%;
      background: #eee;

      .cl_list {
        .cl_item {
          padding: 30px 0;
          position: relative;
          text-align: center;
          line-height: 1.5;
          color: #444;
          font-size: 26px;
          transition: all .15s linear;
          &.active {
            color: $theme_color;
            background: #fff;
            @include line-col(8px, $theme_color);
          }
        }
      }
    }

    .cate_r {
      height: 100%;
      padding: $gap20;
      .cr_top_img {
        width: 100%;
      }
      .cr_top_title {
        padding: 50px 0;
        .cr_top_title_text {
          display: inline-block;
          padding: 0 10px;
        }
      }
      .cr_list {
        .cr_item {
          text-align: center;
          width: 33.3333%;
          padding: 30px 0;
          .cr_icon {
            width: 60px;
            height: 60px;
          }

          .cr_name {
            font-size: $f20;
            color: $c3;
            margin-top: 10px;
          }
        }
      }
    }
  }
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
    color: transparent;
    display: none;
  }
