page {
  background: $bg_color_gray;
}

.add_addr {
  overflow: hidden;
  padding: 0 $gap30;
  background: #fff;
}

.address_info {
  position: relative;
  z-index: 1;
  padding-bottom: 10px;

  &_options {
    height: 110px;

    .iconfont {
      &:first-child {
        font-size: 36px;
        margin-right: 10px;
        font-weight: 700;
        color: $c6;
      }
    }

    .options_input,
    .options_picker {
      font-size: 28px;
      color: #222;
      flex: 1;
      height: 90px;
    }

    .options_picker {
      .picker {
        height: 90px;
        line-height: 90px;
        font-size: 30px;
        color: #999;
      }
    }
  }

  .hairline-bottom {
    @include line-row(1px, #eee, 0, bottom);
  }
}

.bottom_btn {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0 $gap30 40px;
  .button_save {
    width: 100%;
    height: 100px;
    border-radius: 50px;
    line-height: 100px;
    text-align: center;
    margin: 0 auto;
    font-weight: 700;
    font-size: 32px;
    color: #fff;
    background-color: #1a1a1a;
  }
}
