.order {
  height: 100%;
  // overflow: hidden;
  .order_outer {
    width: 100%;
    .order_list {
      background: #f3f3f3;
      padding: 30px;
      box-sizing: border-box;
      height: 100%;
      .oi_outer {
        margin-bottom: 30px;
      }
    }
  }
}