page {
  background: $bg_color_gray;
}

.coupon {
  padding: 40px;
  .c_item {
    height: 230px;
    background: url("../../imgs/coupon/coupon-bg.png") no-repeat;
    background-size: cover;
    margin-bottom: 30px;
    .c_left {
      .c_desc {
        .s {
          font-size: 36px;
        }
      }
    }
    .c_right {
      width: 220px;
    }
  }
}