page {
  height: 100%;
  overflow: hidden;
}

.index {
  height: 100%;
  .swipper {
    .s_img {
      width: 100%;
      height: 360px;
    }
  }

  .nav {
    padding: $padding_big;

    &_list {
      .nav_item {
        width: 25%;
        text-align: center;

        .nav_icon {
          width: 120px;
          height: 120px;
          margin-bottom: 10px;
        }
        .nav_name {
          color: $font_color_black;
        }
      }
    }
  }

  .model {
    .m_img {
      width: 100%;
    }
  }

  .topic {
    .t_title_outer {
      padding: 60px $padding_theme;
    }

    .t_title {
      position: relative;
      padding-left: 20px;
      line-height: 1;
      font-weight: bold;
      font-size: $font_large_s;
      color: $font_color_black;
      @include border-left(6px, #333, 4px);
    }
  }

  .topic1 {
    .t_scroll {
      width: 100%;

      .t_scroll_outer {
        padding-left: $padding_theme;
      }

      .t_s_item {
        padding-right: $padding_theme;
        text-align: center;

        .t_s_item_img {
          width: 160px;
          height: 160px;
        }

        .t_s_item_name {
          font-size: $font_little_m;
          color: $font_color_black;
          margin-top: 20px;
        }
      }
    }
  }

  .topic2 {
    .t2_list {
      justify-content: space-between;
      padding: 0 $padding_theme;
      .t2_item {
        width: 330px;
        box-shadow:0px 2px 11px 0px rgba(0,0,0,0.11);
        border-radius:6px;
        margin-bottom: $margin_big;
        .t2_img {
          width: 330px;
          height: 330px;
        }
        .t2_item_box {
          padding: $padding_small;
          padding-bottom: $padding_theme;
        }
        .t2_name {
          font-size: $font_medium_s;
          color: $font_color_black;
        }
        .t2_label {
          margin-top: 10px;
          font-size: $font_little_s;
          color: #ED5252;
          background: #FFE9E9;
          border-radius: 6px;
          display: inline-block;
          padding: 0 8px;
        }
        .t2_price {
          font-size: $font_little_s;
          color: #ED5252;
          margin: 10px 0;
          .price_num {
            font-size: 26px;
            font-weight: bold;
          }
        }
        .t2_desc {
          color: #666;
          font-size: $font_little_m;
        }
      }
    }
  }
}
