page {
    height: 100%;
  }
  .login {
    text-align: center;
    height: 100%;
    padding: 60px $gap30 0;
    .logo {
      width: 200px;
    }
    .greet {
      width: 550px;
      margin-top: 60px;
    }
    &_btn {
      width: 100%;
      background-color: #456299;
      border-radius: 4px;
      line-height: 88px;
      color: #fff;
      font-size: 36px;
      margin-top: 100px;
    }
  }