.shop_item {
  width: 330px;
  box-shadow: 0px 2px 11px 0px rgba(0, 0, 0, 0.11);
  border-radius: 6px;
  margin-bottom: $margin_big;

  .t2_img {
    width: 100%;
  }

  .t2_item_box {
    padding: $gap20;
    padding-bottom: $padding_theme;
  }

  .t2_name {
    font-size: $f28;
    color: $c3;
  }

  .t2_label {
    margin-top: 10px;
    font-size: $f20;
    color: #ED5252;
    background: #FFE9E9;
    border-radius: 6px;
    display: inline-block;
    padding: 0 8px;
  }

  .t2_price {
    font-size: $f20;
    color: #ED5252;
    margin: 10px 0;

    .price_num {
      font-size: 26px;
      font-weight: bold;
    }
  }

  .t2_desc {
    color: #666;
    font-size: $font_little_m;
  }
}
