page {
  background: $bg_color_gray;
}

.about-us {
  padding: 30px;
  .nav {
    background: #fff;
    .logo {
      width: 100%;
    }
    .us {
      padding: 30px;
      &_item {
        font-size: 30px;
        padding: 20px 0;
        .label {
          position: relative;
          margin-right: 30px;
          &:after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 30%;
            background: $theme_color;
            opacity: 0.2;
          }
        }
      }
    }
  }
  .link {
    margin-top: 30px;
    background: #fff;
    padding: 30px;
    .l_left {
      border-right: 2px dashed $theme_color;
    }
    .l_label {
      color: $c9;
      margin-bottom: 20px;
    }
    .l_code {
      font-size: 30px;
      color: $theme_color;
    }
    .copy_btn {
      background: $theme_color;
      color: #fff;
      padding: 12px 30px;
      border-radius: 8px;
      margin-left: 20px;
    }
  }
}