page {
  background: $bg_color_gray;
}

.my {
  padding: 0 $padding_theme;

  .user {
    padding: $padding_theme 0;
      &_head {
        width: 140px;
        height: 140px;
        border-radius: 50%;
        margin-right: $gap30;
      }
      &_name {
        color: $c3;
        font-size: 36px;
      }
  }

  .other_list {
    padding: $gap30 0;
    .o_item {
      text-align: center;
      .oi_num {
        font-size: 48px;
        font-weight: 700;
      }
      .oi_label {
        color: $c6;
      }
    }
  }

  .order {
    background: #fff;
    border-radius: 10px;
    padding: 0 $padding_theme;
    .o_head {
      color: $c3;
      font-size: $f26;
      height: 90px;
      @include line-row(1px, #eee, 0, bottom);
      .iconfont {
        font-size: 36px;
      }
    }

    .o_item {
      width: 25%;
      text-align: center;
      padding: 30px 0;
      .o_icon {
        width: 56px;
        height: 56px;
        margin-bottom: 10px;
      }
    }
  }

  .menu {
    margin-top: $gap20;
    font-size: $f26;
    background: #fff;
    border-radius: 10px;
    padding: 0 $padding_theme;

    .m_item {
      padding: $padding_theme 0;
      &:first-child {
        @include line-row(1px, #ddd, 0, bottom);
      }
      .m_icon {
        width: 40px;
        height: 40px;
        margin-right: 20px;
      }

      .m_text {
        color: $c3;
      }

      .iconfont {
        font-size: 36px;
      }
    }
  }
}
