
// 边框
@mixin border-left($width, $color, $radius: 0px) {
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: $width;
        height: 100%;
        background: $color;
        border-radius: $radius;
        @if $width == 1px {
            width: 2px;
            transform: scaleX(0.5);
        }
    }
}

@mixin border-right($width, $color, $radius: 0px) {
    &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: $width;
        height: 100%;
        background: $color;
        border-radius: $radius;
        @if $width == 1px {
            width: 2px;
            transform: scaleX(0.5);
        }
    }
}