$theme_color: #5482F5;
$font_color_black: #333333;
$bg_color_gray: #f3f3f3;

$font_little_s: 20px;
$font_little_m: 22px;
$font_little: 24px;
$font_medium_s: 28px;
$font_medium: 32px;
$font_large_s: 36px;
$font_large: 40px;

$padding_small: 20px;
$padding_theme: 30px;
$padding_big: 40px;

$margin_small: 20px;
$margin_theme: 30px;
$margin_big: 40px;