// color
$theme_color: #5482F5;
$c3: #333333;
$c6: #666666;
$c9: #999999;
$bg_color_gray: #f0f0f4;

//font 
$f20: 20px;
$f26: 26px;
$font_little_m: 22px;
$f24: 24px;
$f28: 28px;
$font_medium: 32px;
$font_large_s: 36px;
$font_large: 40px;

//distance 
$gap30: 30px;
$gap20: 20px;
$padding_theme: 30px;
$padding_big: 40px;

$margin_small: 20px;
$margin_theme: 30px;
$margin_big: 40px;