.shop_list {
  padding: 0 30px;

  .nav {
    position: relative;
    margin-bottom: $gap30;

    .input_box {
      background: #eee;
      padding: 0 30px;
      border-radius: 4px;
      height: 64px;

      .iconfont {
        margin-right: 12px;
        color: #999;
      }
    }

    .cancel_btn {
      padding: 0 20px;
      color: #666;
    }

    &:after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 2px;
      background: #eee;
      transform: scaleY(0.5);
    }
  }
}
