page {
  background: $bg_color_gray;
}

.addr {
  padding-bottom: 90px;

  .addr_list {
    .addr_inner {
      border-bottom: 2px solid #E5E5E5;
      &:last-child {
        border-color: transparent;
      }
    }
  }

  .foot_btn {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $theme_color;
    height: 90px;
    line-height: 90px;
    text-align: center;
    color: #fff;
    font-size: 30px;
  }
}
