page {
  background: $bg_color_gray;
}
.addr {
  padding: 30px 30px 90px;
  .addr_inner {
    margin-bottom: 30px;
  }
  .foot_btn {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #ff4d3a;
    height: 90px;
    line-height: 90px;
    text-align: center;
    color: #fff;
    font-size: 30px;
  }
}