page {
  background: $bg_color_gray;
}

.order {
  .addr_info {
    background: #fff;
    padding: 30px 30px 10px;
    margin-bottom: 20px;
    .addr_outer {
      margin-bottom: 30px;
      .addr_icon {
        width: 40px;
        height: 40px;
        margin-right: 20px;
      }
      .receiver_info {
        font-size: 30px;
        color: $c3;
        margin-bottom: 6px;
      }
      .addr_detail {
        color: $c9;
      }
      .iconarrow-down {
        font-size: 36px;
      }
    }
  }
  .shop_info {
    background: #fff;
    margin-bottom: 20px;
    .s_item {
      border-bottom: 2px solid #F1F1F1;
      padding: $gap30;
      &:last-child {
        border-color: transparent;
      }
      .s_img {
        width: 160px;
        height: 160px;
        margin-right: 20px;
      }
      .si_name {
        color: $c3;
        font-size: 28px;
        margin-bottom: $gap20;
      }
      .si_rule {
        font-size: 22px;
        color: $c9;
        margin-bottom: $gap30;
      }
      .si_price {
        font-size: 22px;
        color: #DE2721;
        .s {
          font-size: 28px;
        }
      }
      .si_count {
        font-size: 22px;
        color: $c9;
      }
    }
  }
  .money {
    background: #fff;
    color: $c6;
    padding: 0 30px;
    margin-bottom: 110px;
    .money_item {
      padding: 30px 0;
      .m_total {
        color: #DC0000;
      }
    }
    
  }
  .foot_bar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    font-size: 30px;
    .fb_static {
      color: $c3;
      padding-left: 30px;
      .s {
        color: #B62220;
      }
    }
    .save_btn {
      font-size: 30px;
      width: 250px;
      background: $theme_color;
      color: #fff;
      height: 90px;
      line-height: 90px;
    }
  }
}