.tab_group {
  padding: 0 30px;
  .tab_item {
    height: 90px;
    line-height: 90px;
    position: relative;
    font-size: 30px;
    color: $c3;
    &.active {
      color: #B62220;
    }
    &.active:after {
      content: "";
      position: absolute;
      left: 50%;
      bottom: 0;
      width: 100%;
      height: 5px;
      background: #B62220;
      transform: translateX(-50%);
    }
  }
  
}