.addr {
    background: #fff;
    border-radius: 4px;
    position: relative;
    padding: 30px;
    .close {
        font-size: 44px;
        color: #999;
    }
    &_head {
        color: #999;
        .name {
            margin-right: 20px;
        }
    }
    &_desc {
        font-size: 28px;
        color: #333;
    }
    &_foot {
        margin-top: 20px;
        font-size: 26px;
        .a_f_left {
           .iconfont {
               margin-right: 10px;
               font-size: 40px;
           }
           .iconpass_Flat_icons {
               color: $theme_color;
           }
        }
        .a_f_right {
            &-btn {
                color: #999;
                &:first-child {
                    margin-right: 30px;
                }
            }
        }
    }
}