.loading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  background: #fff;
  .spin {
    position: absolute;
    width: 128px;
    height: 128px;
    left: 50%;
    top: 50%;
    margin-left: -64px;
    margin-top: -64px;
    .s_item {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 26px;
      height: 26px;
      margin-top: -13px;
      margin-left: -13px;
      border-radius: 100%;
      background: $theme_color;
    }

  }

}

@keyframes ball-spin {

  0%,
  100% {
    opacity: 1;
    transform: scale(1);
  }

  20% {
    opacity: 1;
  }

  80% {
    opacity: 0;
    transform: scale(0);
  }
}
