
.car_bar {
    padding-left: 30px;
    color: #444;
    border:1px solid rgba(241,241,241,1);
    .iconfont {
        font-size: 40px;
        margin-right: 16px;
    }
    .price {
        font-size: 20px;
        color: #ED5252;
        padding: 0 20px;
        .s {
            font-size: 26px;
            font-weight: bold;
        }
    }
    .btn {
        color: #fff;
        font-size: 32px;
        height: 84px;
        line-height: 84px;
        width: 200px;
        background: #FF784C;
    }
}